<!DOCTYPE html>
<html>
  <head>
    <title>Ramadanist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="inner">
      </div>
      <h1 class="header__logo">Ramadanist</h1>
    </header>
    <%= yield %>
    <footer class="footer">
      <small class="copyright"></small>
    </footer>
  </body>
</html>
